@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  background-color: #1f1d36;
  color: #fff;
}
header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: transparent;
}
.search {
  background-color: #3f3351;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  border: 2px solid #1f1d36;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}
.search:focus {
  outline: 0;
}
.search::placeholder {
  color: #1f1d36;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.movie {
  min-height: 40%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0.3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #3f3351;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}
.movie-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: #1f1d36;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  color: black;
  max-height: 80%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .overview {
  transform: translateY(0);
}
@media only screen and (min-width: 600px) {
  .movie {
    width: 20%;
  }
}
